{
    "coolq_config": {
        "api_addr": "http://apiaddr.example",
        "listen_port": 234,
        "listen_secret": "secret",
        "access_token": "token"
    },
    "globals": {
        "super_user": "modules can only loaded/unloaded with this user",
        "osu_token": "for Osu module"
    }
}